// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "dashboard.scss";
@import "footer.scss";
@import "header.scss";
@import "guestShow.scss";
@import "home.scss";
@import "searchBar.scss";
@import "register.scss";
@import "edit.scss";


// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
