.dashboard__body {
    display: flex;
    height: 100%;

    .dashboard__navbar {
        width: 250px;
        background-color: $bd-secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 476px;
        color: $bd-white;

        h4 {
            margin-bottom: 32px;
            font-size: 24px;
        }

        .dashboard__links {
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style-type: none;
            padding: 0;

            li {
                width: 100%;

                // &:first-of-type {
                //     border-top: 1px solid $bd-primary;
                // }

                .dashboard__link {
                    border-right: 8px solid transparent;
                    // border-bottom: 1px solid $bd-primary;
                    font-size: 18px;
                    padding: 16px 0;
                    color: currentColor;
                    transition: all 0.3s linear;
                    width: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    &:hover {
                        text-decoration: none;
                        color: $bd-lighthover;
                        border-color: currentColor;
                    }
                    &.is-active {
                        text-decoration: none;
                        color: $bd-lighthover;
                        border-color: currentColor;
                    }
                }
            }
        }
    }
}

.dashboard__main {
    padding: 20px;
    width: 100%;
    background-color: $bd-grey;

    .dashboard__header {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        padding: 12px 0;

        .dashboard__title {
            color: $bd-black;
            margin: 0;
        }

        .dashboard__button {
            padding: 8px;
            background-color: $bd-secondary;
            color: $bd-white;
            text-decoration: none;
            display: inline-block;
            border-radius: 8px;
            min-width: 220px;
            text-align: center;
            transition: all 0.3s linear;
            font-weight: 600;

            &:hover {
                background-color: $bd-lighthover;
                color: $bd-secondary;
            }
        }
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .dashboard-card {
            background-color: $bd-white;
            border-radius: 4px;
            padding: 48px 32px 100px;
            color: $bd-black;

            a {
                color: $bd-secondary;
            }

            h5 {
                color: $bd-secondary;
                margin-bottom: 32px;
            }
        }
    }

    .review {
        padding: $bd-space-s;
        background-color: $bd-white;
        border-radius: $bd-radius;
        margin-bottom: $bd-space-s;

        p {
            margin: 0;
        }
    }

    .message {
        padding: $bd-space-s;
        background-color: $bd-white;
        border-radius: $bd-radius;
        margin-bottom: $bd-space-s;
    }
}
