
.container-private {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.409) 0px 1px 4px;
    border-radius: 8px;
    margin-top: 40px;
    overflow: auto;
    margin-bottom: 10px;
    max-height: 500px;
}
.card-private {
    border: none;
}

.drop-container{
    border: 2px solid #5543ca !important;
    border-radius: 4px;
    padding: 4px;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background-image: linear-gradient(125deg, #7697de, #064497);
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }