
.container-private {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.409) 0px 1px 4px;
    border-radius: 8px;
    margin-top: 40px;
    overflow: auto;
    margin-bottom: 10px;
    max-height: 500px;
}
.card-private {
    border: none;
}

.drop-container{
    border: 1px solid $bd-primary !important;
    border-radius: $bd-radius;
    padding: 4px;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background-color: $bd-primary;
    padding: 6px 10px;
    border-radius: $bd-radius;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: rgb(68, 120, 189);
  }