.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: $bd-primary;
    // background-image: linear-gradient(125deg, #7697de, #064497);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: $bd-radius;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    border: none;
    // width: 200px;
    cursor: pointer;
}
.custom-select {
    border: 2px solid #5543ca !important;
}
.areat {
    border: 2px solid #5543ca !important;
}
.wrap-no {
    flex-wrap: nowrap !important;
    .submit-btn {
        display: inline-block;
        background-color: $bd-primary;
        // background-image: linear-gradient(125deg, #7697de, #064497);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 0.5rem 1rem;
        border-radius: $bd-radius;
        border: none;
        // width: 68px;
        cursor: pointer;
    }
}
// add different buttons 
.message-btn{
    display: inline-block;
    background-color: $bd-primary;
    // background-image: linear-gradient(125deg, #7697de, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: $bd-radius;
    border: none;
    width: 250px;
    cursor: pointer;
}

.f-5 {
    font-size: 14px !important;
}
.container-5 {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    overflow: auto;
    margin-bottom: 50px;
    max-height: 500px;
}
.card-5 {
    border: none;
}
.card-5-subtitle {
    p {
        background-color: whitesmoke;
        border-radius: 15px;
        padding: 5px;
    }
}
.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey;
}
@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px;
    }
    .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px;
    }
    .icon {
        margin-top: 20px;
        top: 0;
    }
}
.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px;
}
.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px;
}
// .row {
//     padding-bottom: 53px;
// }
.company {
    position: absolute;
    bottom: -42px;
}
.fa-amazon:before {
    content: "\f270";
    font-size: 23px;
}
.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px;
}
.header {
    padding-top: 35px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .container-5 {
        .row {
            display: block;
        }
        .col-md-3 {
            max-width: 100%;
        }
        .card-5-content {
            .md-box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
            }
        }
    }
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 20px;
  border-radius: 100px;
  background-clip: padding-box;
  border: 8px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}


// show-revamp

.main-profile{
    margin-top: 50px;
    .breadcrumb{
        background-color: white !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: $bd-radius !important;
        a{
            font-size: $bd-text-m;
            color: $bd-primary;
            text-decoration: none;
            font-weight: bold;
            &:hover{
                color: $bd-secondary;
            }
        }
    }
    .card-profile{
        min-height: 356px !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: $bd-radius !important;
        img{
            border-radius: $bd-radius;
        }
    }
    .bedge-color{
        background-color: $bd-secondary;
        border-radius: $bd-radius !important;
    }
    p{
        font-size: 16px;
    }
}

.red-btn{
    display: inline-block;
    background-color: $red;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 6px 10px;
    border: none;
    border-radius: $bd-radius;
    cursor: pointer;
    &:hover{
        background-color: #bb302b;
    }
}

.edit-btn{
    text-decoration: none;
    display: inline-block;
    background-color: $bd-primary;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 6px 10px;
    border: none;
    border-radius: $bd-radius;
    cursor: pointer;
    &:hover{
        background-color: $bd-secondary;
        text-decoration: none;
        color: #fff;
    }
}

.cv-btn{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    color: $bd-primary;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
    border: 2px solid $bd-primary;
    border-radius: $bd-radius;
    cursor: pointer;
    &:hover{
        background-color: $bd-primary;
        text-decoration: none;
        color: #fff;
    }
}