.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #7697de, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}
.custom-select {
    border: 2px solid #5543ca !important;
}
.areat {
    border: 2px solid #5543ca !important;
}
.wrap-no {
    flex-wrap: nowrap !important;
    .submit-btn {
        display: inline-block;
        background-color: #000;
        background-image: linear-gradient(125deg, #7697de, #064497);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 9px 0px;
        border: none;
        width: 68px;
        cursor: pointer;
    }
}
// add different buttons 
.message-btn{
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #7697de, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 250px;
    cursor: pointer;
}
.close-button{
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #de7d76, #971c06);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.f-5 {
    font-size: 14px !important;
}
.container-5 {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    overflow: auto;
    margin-bottom: 50px;
    max-height: 500px;
}
.card-5 {
    border: none;
}
.card-5-subtitle {
    p {
        background-color: whitesmoke;
        border-radius: 15px;
        padding: 5px;
    }
}
.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.second {
    border-left: 2px dotted lightgrey;
    border-right: 2px dotted lightgrey;
}
@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px;
    }
    .third {
        border-top: 2px dotted lightgrey;
        margin-top: 25px;
    }
    .icon {
        margin-top: 20px;
        top: 0;
    }
}
.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px;
}
.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px;
}
.row {
    padding-bottom: 53px;
}
.company {
    position: absolute;
    bottom: -42px;
}
.fa-amazon:before {
    content: "\f270";
    font-size: 23px;
}
.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px;
}
.header {
    padding-top: 35px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .container-5 {
        .row {
            display: block;
        }
        .col-md-3 {
            max-width: 100%;
        }
        .card-5-content {
            .md-box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
            }
        }
    }
}
