body {
    background-color: $body-bg;
}

* {
    font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
}

strong {
    font-weight: 600;
}

.section-carousel {
    margin: 48px 0 120px;
    
}

.hero {
    background-image: url(../img/hero.png);
    background-position-x: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $bd-primary;
    height: 550px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .hero-center {
        padding-top: 150px;
        color: $bd-black;
    }
}
.nav-bg {
    background-color: $body-bg;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
