.hero{
    background-image: url(../img/hero.png);
    background-position-x: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(157, 197, 214, 0.808);
    height: 550px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .hero-center{
        padding-top: 150px;
    }
}
