* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.searchbar-home {
    position: relative;
    width: 25rem;
    margin-top: 10px;
    margin-bottom: 50px;
    z-index: 999;
  }
  
  .chosen-value,
  .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .chosen-value {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #FAFCFD;
    border: 3px solid transparent;
    transition: .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #333;
    }
    
    &:hover {
      background-color: #95BBDF;
      cursor: pointer;
      
      &::-webkit-input-placeholder {
        color: #333;
      }
    }
    
    &:focus,
    &.open {
      box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
      outline: 0;
      background-color: #95BBDF;
      color: #000;
      
      &::-webkit-input-placeholder {
        color: #000;
      }
    }
  }
  
  .value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    background-color: #F8FAFC;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
    
    &.open {
     max-height: 320px;
     overflow: auto;
    }
    
    .spec-li {
      position: relative;
      height: 4rem;
      background-color: #FAFCFD;
      padding: 1rem;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .3s;
      opacity: 1;
      
      &:hover {
        background-color: #95BBDF;
      }
      
      &.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
      }
    }
  }
.search-btn{
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    font-size: 1.3rem;
  }
}